* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin: 0px;
    min-height: 100vh;
}

.header, .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
    background-color: #0b1016;
    height: 50px;
    color:#e5e7eb
}

.footer {
    /* display: flex; */
    justify-content: center;
}

ul {
    display: flex;
    gap: 30px;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

button, .inverted {
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    width: 150px;
    height: 40px;
    border-radius: 10px;
    background: blue;
    text-align: center;
    border-style: none;
    color: white;
    font-weight: bold;
}

.inverted {
    border: 5px solid white;
    /* background: none; */

}

.section {
    display: flex;
    padding: 0 100px;
    flex-grow: 1;
}

.one {
    background-color: #1f2937;
    padding: 100px 100px;
}

.two {
    flex-direction: column;
}

.three {
    background: #e5e7eb;
    padding: 100px 300px;
    flex-direction: column;
    gap: 5px;
    
}

.four {
    display: flex;
    padding: 100px
}

.left {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 10px;
    padding: 10px;
}

.main {
    background-color: aqua;
    height: 300px;
    flex: 1;
}

.title {
    display: flex;
    justify-content: center;
    font-size: 30px;
    padding: 30px;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 50px;
    gap: 50px;
    flex-wrap: wrap;
}

.card {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.pic {
    height: 200px;
    width: 200px;
    background-color: violet;
    border-radius: 20px;
}

.quote {
    background-color: purple;
    font-size: 48px;
    font-style: italic;
}

.sub {
    background-color: red;
    display: flex;
    align-self: flex-end;
}

.modal {
    background: blue;
    height: 150px;
    /* min-width: 100px; */
    flex: 1;
    display: flex;
    align-items: center;
    padding: 0 100px;
    
}