body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* gap: 5px; */
    text-align: center;


}

.header, .footer {
    background-color: #1f2937;
    display: flex;
    justify-content: center;
}

.container {
    background-color: #1f2937;
    border: 5px solid black;
    /* height: auto; */
    display: flex;
    padding: 100px 100px;
}

.left {
    display: flex;
    flex-direction: column;
    flex: 1;
    text-align: left;
    
}

.header,
.heading {
    color: #f9faf8;
}

.heading {
    font-size: 48px;
    font-weight: bold;
}





.right {
    background-color: blueviolet;
    flex: 1;
}

.sign-up {
    width: 100px;
    height: 20px;
}

.container.two,
.container.three {
    background-color: yellow;
    border: 5px solid black;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* gap: 30px; */
}

.container.three {
    padding: 50px;
}

.illustration {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.card {
    background-color: brown;
    width: 100px;
    height: 150px;
    display: flex;
    flex-wrap: wrap;

}

.paragraph {
    font-size: 30px;
    font-style: italic;
}

.quote {
    
    font-weight: bold;
    display: flex;
    margin-left: auto;

}

.container-four {
    height: 200px;;
    display:flex;
    background-color: blue;
    justify-content: center;
    align-items: center;
    border: 5px solid green;

}

.action {
    background: orange;
    display: flex;
    align-items: center;
    width: 600px;
    height: 100px;

}